<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora rem
      eaque quas numquam sunt temporibus alias error voluptatum ullam in!
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut optio
        magni quod reprehenderit ullam sunt. Impedit possimus adipisci cum
        commodi?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora rem
      eaque quas numquam sunt temporibus alias error voluptatum ullam in!
    </p>
  </div>
</section>
